#btn-form-submit-delete{
    font-family: arial,sans-serif;
    font-weight: bold;
    background-color: rgb(10, 23, 209);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 17px;
    border: none;
    padding: 10px;
    width: 100px;
    height: 73px;
}
.container-delete{
    width: 500px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    margin-top: 315px;
    margin-left: 1033px;
    
}
.flex-delete{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 0 auto; 
}
#input-delete{
    font-family: arial,sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}
#btn-page-delete{
    position: absolute;
    left: 38vmax;
    top: 315px;    
}
.btn-back-delete{
    font-family: arial,sans-serif;
    font-weight: bold;
    background-color: rgb(10, 23, 209);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 17px;
    border: none;
    padding: 10px;
    height: 73px;
}